.header {
  background-color: bisque;
  padding: 20px;
  text-align: center;
}
.topnav a {
  float: left;
  display: block;
  color: burlywood;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: burlywood;
  color: black;
}
